PAYLOAD_SECRET=YOUR_SECRET_KEY
POSTGRES_URL=postgres://postgres:postgres@127.0.0.1:5432/web_visualizer
DATABASE_URI=postgres://postgres:postgres@127.0.0.1:5432/web_visualizer
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
